h1 {
    text-align: center;
}

h2 small{
    text-align: left;
    font-size: 2rem;
}

img {
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-box-shadow: -5px 3px 20px -7px #D91A1A; 
    -webkit-box-shadow: -5px 3px 20px -7px #D91A1A; 
    box-shadow: -5px 3px 20px -7px #5A5A5A;
}

