/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
	body{ background-image:url(../images/background_pattern.png); }

@media only screen and (min-width: 961px) {

	.container { background-color: #D9B592;  margin-top: 3px; margin-bottom: 3px;  margin-left: auto; margin-right: auto; background-image:url(../images/vs_logo_opacity.png); background-repeat: no-repeat; background-position: center 200px; }
	header, nav, article, footer, .menu { width: 95%; margin-left: auto; margin-right: auto; }
	header  { border-bottom-width: thick; border-bottom-style: solid; border-bottom-color: #47A4A6;}
	article {}
	footer { margin: 10px 0 0 0;   }
	
	h1{	}
	p { margin: 0 0 0 0px; padding: 0 0 0 0px; }

	article img { width: 156px; height: 104px; padding: 0 0 0 0px; margin: 0.5em 0px 0px -3px ; position: absolute; top: 0px; }
	h1 img{	position: absolute; top: -150px; width: 312px; height: 100px; margin: 0 5px 0 0px;}
	.titlecolor{ margin-top: 5px;}
	.titlewords { margin: 0px 0 05px 0px;   }
	.titlewords ul{ margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
	.titlewords li{ width: auto; }
	.titlewords p{ width: 20%; float: right; text-align: center; font-weight: bolder; font-family: 'Courgette', cursive; font-size: 2em; color: #A60311; }

	nav { width: 100%; margin-top: 70px;}
	nav ul { text-align: center;  }
	nav a {	text-decoration: none; font-size: 1.2em; font-weight: bolder;}
	nav li{	float: left; width: 12.0%; color: #180F73; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;  padding: 0 0 0 0; margin: 0 1.05% 0 0; background-color: #845E14; border-width: 5px; border-style: solid; border-color: #997C45;	border-style: outset; -moz-border-top-left-radius: 100px; -webkit-border-top-left-radius: 100px; -moz-border-bottom-left-radius: 100px; -webkit-border-bottom-left-radius: 100px; -moz-border-top-right-radius: 100px;  -webkit-border-top-right-radius: 100px;	-moz-border-bottom-right-radius: 100px; -webkit-border-bottom-right-radius: 100px; }
	nav li:hover{  color: #47A4A6; border-style: inset;}
	
	aside {position: absolute; top: -100px; }	
	article .vsq { font-family: 'Courgette', cursive; font-size: 3.25em;; padding: 0 0 0 0px; margin: -95px 0 75px 120px; color: #73640F;}
	.container .thirteen.columns {width: 100%}
	.big_phone { font-size: 1.5em;; padding: 0 0 0 0px; margin: -65px 0 40px 225px; color: #180F73;}
	.one-third.column { margin: 0 0 0 .9em;    }

	article .articleTitle { color: #180F73; font-size: 1em; margin: 2px 0 2px 0; color: #180F73; font-weight: bold;}
	article hr {padding: 0 0 0 0px; margin: 0 0 0 0px; border: solid #47A4A6; border-width: 3px 0 0; clear: both;}
	article .hrTop {margin-top: 1em;   }
	article .hrBottom {  margin-bottom: 1em; }
	article p {	text-align: left; text-indent: 1.5em; font-size: 1em; font-weight: bold;}

	footer img {width: 2.5em; height: 2.5em; margin-right: 3px; border-width: 3px; border-style: solid; border-color: #180F73;	border-style: outset; -moz-border-top-left-radius: 10px; -webkit-border-top-left-radius: 10px; -moz-border-bottom-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-top-right-radius: 10px;  -webkit-border-top-right-radius: 10px;	-moz-border-bottom-right-radius: 10px; -webkit-border-bottom-right-radius: 10px; }
	footer a { text-decoration: none; }
	footer img:hover{  border-color: #47A4A6; border-style: inset;}
	footer address {margin-top: 5px; font-weight: bold; padding-left: 10px; font-size: 1em; padding-bottom: 0px; margin-bottom: 0px; }
	footer h5 {color: #180F73; font-weight: bolder; padding-top: 5px; font-size: 1.15em;}
	.phone { padding-top: 10px; margin-top: 0px; padding-left: 10px; font-size: 1em; margin-bottom: 5px; font-weight: bold; }
	.social { padding-top: 5px; text-align: center;}
	.socialFooter {padding: 0 0 0 0px; margin: 0 0 0 0px; border: solid #47A4A6; border-width: 2px 0 0; clear: both;}
	.officeHours {width: 300px; margin-top: 5px; padding-left: 10px; font-size: 1em; padding-bottom: 0px; margin-bottom: 0px; }
	footer .copyright {margin: 0 0 10px 10px; }	

	.other { margin-top: -75px;   }
	article .amenities {text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; color: #180F73; margin: -12px 0px 0px 0px; padding: 15px 0px 0px 0px; border-top-width: thick; border-top-style: solid; border-top-color: #47A4A6;}
	article h2 { width: 100%; }
	.container article .big.five.column { width: 45%; margin: 0 0 0 10px;  } 
	.container article .big.eight.column {width: 50%; }
	.imageTall  { clear: both; position: relative; float: left; width: 400px; height: 600px; padding: 0 0 0 0px; margin: 10px 5px 0px 0px ;     }
	.big .imageShortB { position: relative; float: left; width: 400px; height: 267px;  margin: 10px 0 65px 0px; }
	.big .imageShortC { position: relative; width: 400px; height: 267px; margin: 0 0 0 0px;    }
	.floorplan { position: relative; float: left; width: 450px; height: 350px;  margin: 10px 0 0 0px;     }
	.big.five.column .articleTitle { font-size: 1.5em; text-indent: 3em;  }
	.big.five.column .listAmenities { font-size: 1.3em; text-indent: 3em;  }
	
	.long.one-third.column {width: 100%}
	.long.one-third.column p {font-size: 16px; text-indent: 3em;  }

	.half.one-third.column {width: 45%; font-size: 1.5em; }
	.half.one-third.column p { font-size: 16px; text-indent: 0em; }
	.half.one-third.column li {	list-style-type: circle; padding: 0 0 0 0px; margin: 2px 0 0 30px; font-size: 14px;}
	.indentmedium.listAmenities {font-size: 12px;}

	form  {	font-family: Georgia, "Times New Roman", Times, serif; padding-left: 20px; width: 95%;    }
	.indentmedium .input { margin-left: 130px;   }
	label { font-size: 16px; margin: 5px;}
	select { border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 35em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   }
	select.indentmedium  { width: 33.25em; }
	textarea {	border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 31.5em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	 }
	#name { border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 31.5em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	  }
	#email {  border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 31.5em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	}
	#about {  }
	button {width: 31.5em; font-size: 14px; background-color: #845E14;  color: white; -moz-border-radius: 10px; -webkit-border-radius: 10px; }	
	.indentmedium#appsubmit { width: 50%; margin: 30px auto 0px auto;   }
	button:hover { background-color: #023F00;  color: white;    }
	.indentmedium.big_phone { margin-left: 130px; text-decoration: underline;  }

	.thankyou { }
	.thankyoularge.thankyou { text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; color: #023F00; margin: 15px 0px 5px 100px; padding: 0px 0px 0px 0px; }
	.thankyoularge.thirteen.columns { margin: 100px 0px 150px 0px   }
}

/* #Media Queries
================================================== */

/* Between 793px and 959px */
@media only screen and (min-width: 793px) and (max-width: 960px) {

	.container {background-color: #D9B592; margin-top: 3px; margin-bottom: 3px; margin-left: auto; margin-right: auto; background-image:url(../images/vs_logo_opacity.png); background-repeat: no-repeat; background-position: center 150px; }
	header, nav, article, footer {}
	header { margin-left: 40px; }
	article { margin-bottom: 15px; }
	nav .home { position: absolute; top: -35px; margin: 0 0 0 5px;   }
	nav { position: absolute; top: 150px;    }
	footer { }
	
	h1{	}
	h1 img{	width: 312px; height: 100px; margin: 0px 0px 0px 0px; padding-bottom: 0px; }
	
	p { margin: 0 0 0 0px; padding: 0 0 0 0px; }

	.container header .sixteen.columns  { width: 45%;    }
	.titlecolor{ margin-top: 5px;}
	.titlewords ul{margin: 15px 0px 0px 0px; padding: 0px 0px 0px 0px;}
	.titlewords li{width: auto;}
	.titlewords p{ text-align: center;	font-weight: bolder; font-family: 'Courgette', cursive; font-size: 2em; color: #A60311; margin-bottom: 5px;}

	.container nav .sixteen.columns  { /*width: 45%;    */}
	menu {  }
	nav ul { text-align: center;  }
	nav a {	text-decoration: none; font-size: 16px; font-weight: bolder;}
	nav li{	width: 110px; color: #180F73; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;  padding: 5px 5px 5px 10px; background-color: #845E14; border-width: 5px; border-style: solid; border-color: #997C45;	border-style: outset; -moz-border-top-left-radius: 100px; -webkit-border-top-left-radius: 100px; -moz-border-bottom-left-radius: 100px; -webkit-border-bottom-left-radius: 100px; -moz-border-top-right-radius: 100px;  -webkit-border-top-right-radius: 100px;	-moz-border-bottom-right-radius: 100px; -webkit-border-bottom-right-radius: 100px; }
	nav li:hover{  color: #47A4A6; border-style: outset;}	

	.container footer .one-third.column  { width: 28%; }   	
	footer img {width: 20px; height: 20px; margin-right: 3px; border-width: 3px; border-style: solid; border-color: #180F73;	border-style: outset; -moz-border-top-left-radius: 10px; -webkit-border-top-left-radius: 10px; -moz-border-bottom-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-top-right-radius: 10px;  -webkit-border-top-right-radius: 10px;	-moz-border-bottom-right-radius: 10px; -webkit-border-bottom-right-radius: 10px; }
	footer a { text-decoration: none; }
	footer img:hover{    border-color: #47A4A6; border-style: inset;}
	footer address {margin-top: 5px; font-weight: bold; padding-left: 10px; font-size: 1em; padding-bottom: 0px; margin-bottom: 0px; }
	footer h5 {color: #14427F; font-weight: bolder; padding-top: 5px; font-size: 1em;}
	.phone { padding-top: 10px; margin-top: 0px; padding-left: 10px; font-size: 1em; margin-bottom: 5px; font-weight: bold; }
	.social { padding-top: 5px; text-align: center;}
	.socialFooter {padding: 0 0 0 0px; margin: 0 0 0 0px; border: solid #47A4A6; border-width: 2px 0 0; clear: both;}
	.officeHours {width: 300px; margin-top: 5px; padding-left: 10px; font-size: 1em; padding-bottom: 0px; margin-bottom: 0px; }
	
	article img { width: 525px; height: 350px; padding-bottom: 0px; margin: 0px 0px 0px 170px ; }
	.container article .thirteen.columns { width: 90%;   }	
	.container article .one-third.column { width: 45%;}	
	.container article .big.one-third.column {width: 90%;} 
	.container article .big.eight.column {width: 30%; }
	article .big_phone {   }
	article .big.big_phone {width: 100%; text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; font-size: 2.5em; color: #180F73; margin: 5px 0px 15px 0px; padding: 0px 0px 0px 0px;}
	
	.big_phone a { text-decoration: none; text-align: left; font-size: 1.25em; color: #180F73;}
	article .articleTitle { color: #180F73; text-align: left;  color: #180F73; font-size: 1.75em; padding: 0 0 0 0px; margin: 0 0 0 0px;}
	article #articleTitle { margin-top: 0px;}
	article hr {padding: 0 0 0 0px; margin: 0 0 0 0px; border: solid #47A4A6; border-width: 3px 0 0; clear: both;}
	article .hrTop {margin-top: 1.5em;   }
	article .hrBottom {  margin-bottom: 1em; }
	article p {	text-align: justify; text-indent: 1.5em; font-size: 1.2em;}
	article .vsq {text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; font-size: 2.5em; color: #47A4A6; margin: 15px 0px 15px 0px; padding: 0px 0px 0px 0px;}
	
	aside { position: absolute; top: -125px;    }
	
	.imageTall  { width: 225px; height: 370px;    }
	.big .imageShortB { width: 220px; height: 163px;  margin: 0 0 0 0px; }
	.big .imageShortC { width: 220px; height: 163px; margin: 35px 0 0  0;    }
	.floorplan { width: 500px; height: 455px;  margin: 30px 0 0 190px;     }
		
	.container article .five.column {  }	
	.container article .big.five.column { width: 100%;   }
	.indentmedium { margin: 30px 0 0 0px;   }
	p.indentmedium { margin: 30px 0 -20px 0px;   }
	.indentmedium.articleTitle { margin-left: 0px;   }
	.indentmedium.hrTop  { margin: 35px 0 0 0px;      }
	.indentmedium.hrBottom { margin: 0 0 -15px 0px;      }
	.indentmedium.listAmenities { margin-left: 0px; font-size: 1.1em;  }
	.amenities {position: absolute; top: 100px; text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; color: #180F73; margin: 0px 0px 5px 0px; padding: 0px 0px 0px 0px;}
	.listAmenities {padding-left: 15px;  padding-top: 0px; }
	.listAmenities li {	list-style-type: circle; padding: 0 0 0 0px; margin: 2px 0 0 0px; font-size: 1.1em;}
	.indentmediummore { margin: 30px 0 0 0; }
	.indentmediumless { margin: -15px 0 0 0; }
	.container article .long.one-third.column { width: 90%   }
	.container article .half.one-third.column { width: 45%   }		
	.moveright { margin-left: 130px;   }
	form  {	font-family: Georgia, "Times New Roman", Times, serif; padding-left: 20px; width: 95%;    }
	.indentmedium .input {/* margin-left: 130px;  */ }
	label { font-size: 16px; margin: 5px;}
	select { border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 35em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   }
	select.indentmedium  { width: 33.25em; }
	textarea {	border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 31.5em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	 }
	#name { border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 31.5em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	  }
	#email {  border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 31.5em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	}
	#about {  }
	button {width: 31.5em; font-size: 14px; background-color: #845E14;  color: white; -moz-border-radius: 10px; -webkit-border-radius: 10px; }	
	.indentmedium#appsubmit { width: 50%; margin: 30px auto 0px auto;   }
	button:hover { background-color: #023F00;  color: white;    }
	.indentmedium.big_phone { margin-left: 130px; text-decoration: underline;  }

	.thankyou { }
	.thankyoularge.thankyou { text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; color: #47A4A6; margin: 15px 0px 5px 100px; padding: 0px 0px 0px 0px; }
	.thankyoularge.thirteen.columns { margin: 100px 0px 150px 0px   }
}

/* Between 625px and 792px */
@media only screen and (min-width: 625px) and (max-width: 792px) {
	
	.container {background-color: #D9B592; margin-top: 3px; margin-bottom: 3px; margin-left: auto; margin-right: auto; background-image:url(../images/vs_logo_opacity.png); background-repeat: no-repeat; background-position: center 125px; }
	header, nav, article, footer {}
	header { margin-left: 20px; }
	article {  }
	nav { position: absolute; top: 125px;    }
	footer { }
	
	h1{	}
	h1 img{	width: 312px; height: 100px; margin-bottom: 0px; padding-bottom: 0px; }
	
	p { margin: 0 0 0 0px; padding: 0 0 0 0px; }

	.container header .sixteen.columns  { width: 45%;    }
	.titlecolor{ margin-top: 5px;}
	.titlewords ul{margin: 15px 0px 0px 0px; padding: 0px 0px 0px 0px;}
	.titlewords li{width: auto;}
	.titlewords p{ text-align: center;	font-weight: bolder; font-family: 'Courgette', cursive; font-size: 2em; color: #A60311; margin-bottom: 5px;}

	.container nav .sixteen.columns  { width: 45%;    }
	menu {  }
	nav ul { text-align: center;  }
	nav a {	text-decoration: none; font-size: 16px; font-weight: bolder;}
	nav li{	width: 100px; color: #180F73; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;  padding: 5px 5px 5px 5px; background-color: #845E14; border-width: 5px; border-style: solid; border-color: #997C45;	border-style: outset; -moz-border-top-left-radius: 100px; -webkit-border-top-left-radius: 100px; -moz-border-bottom-left-radius: 100px; -webkit-border-bottom-left-radius: 100px; -moz-border-top-right-radius: 100px;  -webkit-border-top-right-radius: 100px;	-moz-border-bottom-right-radius: 100px; -webkit-border-bottom-right-radius: 100px; }
	nav li:hover{  color: #47A4A6; border-style: outset;}	

	.container footer .one-third.column  { width: 28%; }   	
	footer img {width: 16px; height: 16px; margin-right: 3px; border-width: 3px; border-style: solid; border-color: #997C45;	border-style: outset; -moz-border-top-left-radius: 10px; -webkit-border-top-left-radius: 10px; -moz-border-bottom-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-top-right-radius: 10px;  -webkit-border-top-right-radius: 10px;	-moz-border-bottom-right-radius: 10px; -webkit-border-bottom-right-radius: 10px; }
	footer a { text-decoration: none; }
	footer img:hover{  color: #A60311; border-style: outset;}
	footer address {margin-top: 5px; font-weight: bold; padding-left: 10px; font-size: 1em; padding-bottom: 0px; margin-bottom: 0px; }
	footer h5 {color: #180F73; font-weight: bolder; padding-top: 5px; font-size: 1em;}
	.phone { padding-top: 10px; margin-top: 0px; padding-left: 10px; font-size: 1em; margin-bottom: 5px; font-weight: bold; }
	.social { padding-top: 5px; text-align: center;}
	.socialFooter {padding: 0 0 0 0px; margin: 0 0 0 0px; border: solid #47A4A6; border-width: 2px 0 0; clear: both;}
	.officeHours {width: 300px; margin-top: 5px; padding-left: 10px; font-size: 1em; padding-bottom: 0px; margin-bottom: 0px; }
	
	article img { width: 450px; height: 350px; padding-bottom: 0px; margin: 0px 0px 0px 150px ; }
	article .keepsize { width: 100%; height: 100%; padding-bottom: 0px; margin-top: 0px; background-color:  #D9B573}
	.container article .one-third.column { width: 100%;   }	
	article .big_phone {text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; font-size: 2.5em; color: #180F73; margin: 5px 0px 15px 0px; padding: 0px 0px 0px 0px;}
	
	.big_phone a { text-decoration: none; text-align: left; font-size: 1.25em; color: #180F73;}
	article .articleTitle { color: #180F73; text-align: left;  font-size: 1.75em; padding: 0 0 0 0px; margin: 0 0 0 0px;}
	article #articleTitle { margin-top: 0px;}
	article hr {padding: 0 0 0 0px; margin: 0 0 0 0px; border: solid #47A4A6; border-width: 3px 0 0; clear: both;}
	article .hrTop {margin-top: 1.5em;   }
	article .hrBottom {  margin-bottom: 1em; }
	article p {	text-align: justify; text-indent: 1.5em; font-size: 1.2em;}
	article .vsq {text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; font-size: 2.5em; color: #47A4A6; margin: 15px 0px 15px 0px; padding: 0px 0px 0px 0px;}
	
	aside { position: absolute; top: -125px;    }
	
	.imageTall  { width: 436px; height: 654px;    }
	.imageShortB { width: 436px; height: 291px;    }
	.imageShortC { width: 436px; height: 291px;    }
	.floorplan { width: 405px; height: 420px;  margin-left: 190px;     }
	
	
	.container article .five.column { width: 100%;   }	
	.indentmedium { margin-left: 130px;   }
	.indentmedium.articleTitle { margin-left: 130px;   }
	.indentmedium.hrBottom, .indentmedium.hrTop  { margin-left: 130px;      }
	.indentmedium.listAmenities { margin-left: 185px; font-size: 1.1em;  }
	.amenities {position: absolute; top: 500px; text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; color: #180F73; margin: 0px 0px 5px 0px; padding: 0px 0px 0px 0px;}
	.listAmenities { padding-left: 15px;  padding-top: 10px; font-size: 1.35em;}
	.listAmenities li {	font-weight: bold; list-style-type: circle; padding: 0 0 0 0px; margin: 2px 0 0 0px;}
	.indentmediummore { margin-left: 225px; text-indent: 0em;  }
		
	form  {	font-family: Georgia, "Times New Roman", Times, serif; padding-left: 20px; width: 95%;    }
	.indentmedium.input { margin-left: 130px;   }
	label { font-size: 16px; margin: 5px;}
	select { border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 35em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   }
	select.indentmedium  { width: 33.25em; }
	textarea {	border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 31.5em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	 }
	#name { border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 31.5em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	  }
	#email {  border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 31.5em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	}
	#about {  }
	button {width: 31.5em; font-size: 14px; background-color: #845E14;  color: white; -moz-border-radius: 10px; -webkit-border-radius: 10px; }	
	#appsubmit { width: 29.5em; margin: 10px 0 0 0px;   }
	.indentmedium#appsubmit { width: 29.5em; margin: 10px 0 0 130px;   }
	button:hover { background-color: #023F00;  color: white;    }
	.indentmedium.big_phone { margin-left: 130px; text-decoration: underline;  }

	.thankyou { }
	.thankyoularge.thankyou { text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; color: #023F00; margin: 15px 0px 5px 100px; padding: 0px 0px 0px 0px; }
	.thankyoularge.thirteen.columns { margin: 100px 0px 150px 0px   }
}

/* Smartphones Under Between 481px and 624px */
@media only screen and (min-width: 481px) and (max-width: 624px) {
	
	.container { background-color: #D9B592;; margin-top: 3px; margin-bottom: 3px; background-image:url(../images/vs_logo_opacity.png); background-repeat: no-repeat; background-position: center 325px;}
	header, nav, article, footer {}
	header {}
	article {  margin-bottom: 420px; }
	nav { position: absolute; bottom: 405px; width: 450px;}
	footer { }
	
	h1{	text-align: center;	}
	h1 img{	width: 450px; height: 163px; margin-bottom: 0px; padding-bottom: 0px; }
	
	p { margin: 0 0 0 0px; padding: 0 0 0 0px; }

	.titlecolor{ margin-top: 5px;}
	.titlewords ul{margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
	.titlewords li{width: 33.3333333%; float: left; margin-left: auto; margin-right; auto;}
	.titlewords p{	text-align: center;	font-weight: bolder; font-family: 'Courgette', cursive; font-size: 24px; color: #A60311; margin-bottom: 5px;}

	nav a {  text-decoration: none; }
	nav li{ color: #180F73; height: 28px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 1.75em; padding-left: 15px; padding-top:7px; font-weight: bolder;  width: auto; background-color: #845E14; border-width: 5px; border-style: solid; border-color: #997C45;	border-style: outset; -moz-border-top-left-radius: 100px; -webkit-border-top-left-radius: 100px; -moz-border-bottom-left-radius: 100px; -webkit-border-bottom-left-radius: 100px; -moz-border-top-right-radius: 100px;  -webkit-border-top-right-radius: 100px;	-moz-border-bottom-right-radius: 100px; -webkit-border-bottom-right-radius: 100px; }
	nav li:hover{  color: #47A4A6; border-style: outset;}	
	
	footer img {width: 60px; height: 60px; margin-right: 5px; border-width: 3px; border-style: solid; border-color: #997C45;	border-style: outset; -moz-border-top-left-radius: 10px; -webkit-border-top-left-radius: 10px; -moz-border-bottom-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-top-right-radius: 10px;  -webkit-border-top-right-radius: 10px;	-moz-border-bottom-right-radius: 10px; -webkit-border-bottom-right-radius: 10px; }
	footer a { text-decoration: none; }
	footer img:hover{  color: #A60311; border-style: outset;}
	footer address {margin-top: 5px; font-weight: bold; padding-left: 10px; font-size: 1.25em; padding-bottom: 0px; margin-bottom: 0px; }
	footer h5 {color: #180F73; font-weight: bolder; padding-top: 5px; font-size: 1.5em;}
	.phone { padding-top: 10px; margin-top: 0px; padding-left: 10px; font-size: 1.25em; margin-bottom: 5px; font-weight: bold; }
	.social { padding-top: 5px; text-align: center;}
	.socialFooter {padding: 0 0 0 0px; margin: 0 0 0 0px; border: solid #47A4A6; border-width: 2px 0 0; clear: both;}
	.officeHours {margin-top: 5px; padding-left: 10px; font-size: 1.15em; padding-bottom: 0px; margin-bottom: 0px; }
	
	article img { width: 450px; height: 300px; padding-bottom: 0px; margin-top: 0px; }
	article .keepsize { width: 100%; height: 100%; padding-bottom: 0px; margin-top: 0px; background-color:  #D9B573}
	.big_phone {text-decoration: none; text-align: center; font-family: 'Courgette', cursive; font-weight: bolder; font-size: 1.7em; color: #47A4A6; width: 90%; margin-left: auto; margin-right: auto; background-color: #845E14; border-width: 5px; border-style: solid; border-color: #997C45;	border-style: outset; -moz-border-top-left-radius: 100px; -webkit-border-top-left-radius: 100px; -moz-border-bottom-left-radius: 100px; -webkit-border-bottom-left-radius: 100px; -moz-border-top-right-radius: 100px;  -webkit-border-top-right-radius: 100px;	-moz-border-bottom-right-radius: 100px; -webkit-border-bottom-right-radius: 100px; }
	.big_phone a { text-decoration: none; text-align: left; font-size: 1.25em; color: #47A4A6; border-color: green;}

	article .articleTitle { color: #180F73; text-align: left;  font-size: 1.75em; padding: 0 0 0 0px; margin: 0 0 0 0px;}
	article #articleTitle { margin-top: 0px;}
	article hr {padding: 0 0 0 0px; margin: 0 0 0 0px; border: solid #47A4A6; border-width: 3px 0 0; clear: both;}
	article .hrTop {margin-top: 1.5em;   }
	article .hrBottom {  margin-bottom: 1em; }
	article p {	text-align: justify; text-indent: 1.5em; font-size: 1.2em;}
	article .vsq {text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; font-size: 2.5em; color: #180F73; margin: 5px 0px 15px 0px; padding: 0px 0px 0px 0px;}

	.imageTall  { width: 436px; height: 654px;    }
	.imageShortB { width: 436px; height: 291px;    }
	.imageShortC { width: 436px; height: 291px;    }
	.floorplan { width: 450px; height: 420px;       }
	
	.amenities {text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; color: #023F00; margin: 0px 0px 5px 0px; padding: 0px 0px 0px 0px;}
	.listAmenities { padding-left: 15px;  padding-top: 10px; font-size: 1.35em;}
	.listAmenities li {	font-weight: bold; list-style-type: circle; padding: 0 0 0 0px; margin: 2px 0 0 0px;}
	
	form  {	font-family: Georgia, "Times New Roman", Times, serif; padding-left: 20px; width: 95%;    }
	label { font-size: 16px; margin: 5px;}
	select { border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 35em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   }
	textarea {	border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 31.5em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	 }
	#name { border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 31.5em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	  }
	#email {  border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 31.5em; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	}
	#about {  }
	#question { }
	button {width: 31.5em; font-size: 14px; background-color: #845E14;  color: white; -moz-border-radius: 10px; -webkit-border-radius: 10px; }	
	#appsubmit { width: 29.5em; margin: 10px 0 0 0px;   }
	button:hover { background-color: #023F00;  color: white;    }

	.thankyou { text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; color: #023F00; margin: 0px 0px 5px 0px; padding: 0px 0px 0px 0px; }
	.thankyoularge.thankyou {  }

	.homeButton a { text-decoration: none; }
	.homeButton h3 { color: #180F73;  }
	.homeButton h3:hover { color: #47A4A6;  }
	.homeButton .phone { color: #180F73;  }
	.homeButton .phone:hover { color: #180F73;  }
}

/* Smartphones Under 480px */
@media only screen and (max-width: 480px) {
	
	.container { background-color: #D9B592;; margin-top: 3px; margin-bottom: 3px; background-image:url(../images/vs_logo_opacity.png); background-repeat: no-repeat; background-position: center 325px;}
	header, nav, article, footer {}
	header {}
	article {  margin-bottom: 405px; }
	nav { position: absolute; bottom: 360px; width: 320px; }
	footer { }
	
	h1{	text-align: center;	}
	h1 img{	width: 304px; height: 110px; margin-bottom: 0px; padding-bottom: 0px; }
	
	p { margin: 0 0 0 0px; padding: 0 0 0 0px; }

	.titlecolor{ margin-top: 5px;}
	.titlewords ul{margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;}
	.titlewords li{width: 33.3333333%; float: left; margin-left: auto; margin-right; auto;}
	.titlewords p{	text-align: center;	font-weight: bolder; font-family: 'Calligraffitti', cursive; font-size: 20px; color: #A60311}

	nav a { text-decoration: none; }
	nav li{ color: #180F73; height: 28px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 20px; padding-left: 15px; padding-top:7px; font-weight: bolder;  width: auto; background-color: #845E14; border-width: 5px; border-style: solid; border-color: #997C45;	border-style: outset; -moz-border-top-left-radius: 100px; -webkit-border-top-left-radius: 100px; -moz-border-bottom-left-radius: 100px; -webkit-border-bottom-left-radius: 100px; -moz-border-top-right-radius: 100px;  -webkit-border-top-right-radius: 100px;	-moz-border-bottom-right-radius: 100px; -webkit-border-bottom-right-radius: 100px; }
	nav li:hover{  color: #47A4A6; border-style: outset;}	

	
	footer img {width: 40px; height: 40px; margin-right: 5px; border-width: 3px; border-style: solid; border-color: #997C45;	border-style: outset; -moz-border-top-left-radius: 10px; -webkit-border-top-left-radius: 10px; -moz-border-bottom-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-top-right-radius: 10px;  -webkit-border-top-right-radius: 10px;	-moz-border-bottom-right-radius: 10px; -webkit-border-bottom-right-radius: 10px; }
	footer a { text-decoration: none; }
	footer img:hover{  color: #A60311; border-style: outset;}
	footer address {margin-top: 5px; font-weight: bold; padding-left: 10px; font-size: 16px; padding-bottom: 0px; margin-bottom: 0px; }
	footer h5 {color: #180F73; font-weight: bolder; padding-top: 5px; }
	.phone { padding-top: 10px; margin-top: 0px; padding-left: 10px; font-size: 16px; margin-bottom: 5px; font-weight: bold; }
	.social { padding-top: 5px; text-align: center;}
	.socialFooter {padding: 0 0 0 0px; margin: 0 0 0 0px; border: solid #47A4A6; border-width: 2px 0 0; clear: both;}
	.officeHours {margin-top: 5px; padding-left: 10px; font-size: 14px; padding-bottom: 0px; margin-bottom: 0px; }
	
	article img { width: 305px; height: 203px; padding-bottom: 0px; margin-top: 0px; }
	article .keepsize { width: 100%; height: 100%; padding-bottom: 0px; margin-top: 0px; background-color:  #D9B573}
	.big_phone {text-decoration: none; text-align: center; font-family: 'Courgette', cursive; font-weight: bolder; font-size: 1.7em; color: #47A4A6; width: 90%; margin-left: auto; margin-right: auto; background-color: #845E14; border-width: 5px; border-style: solid; border-color: #997C45;	border-style: outset; -moz-border-top-left-radius: 100px; -webkit-border-top-left-radius: 100px; -moz-border-bottom-left-radius: 100px; -webkit-border-bottom-left-radius: 100px; -moz-border-top-right-radius: 100px;  -webkit-border-top-right-radius: 100px;	-moz-border-bottom-right-radius: 100px; -webkit-border-bottom-right-radius: 100px; }
	.big_phone a { text-decoration: none; text-align: left; font-size: 1.25em; color: #47A4A6;}
	article .articleTitle { color: #180F73; text-align: left;  font-size: 1.25em; padding: 0 0 0 0px; margin: 0 0 0 0px;}
	article #articleTitle { margin-top: 0px;}
	article hr {padding: 0 0 0 0px; margin: 0 0 0 0px; border: solid #47A4A6; border-width: 3px 0 0; clear: both;}
	article .hrTop {margin-top: 1.5em;   }
	article .hrBottom {  margin-bottom: 1em; }
	article p {	text-align: justify; text-indent: 1.5em;}
	article .vsq {text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; font-size: 1.6em; color: #180F73; margin: 0px 0px 5px 0px; padding: 0px 0px 0px 0px;}

	.imageTall  { width: 290px; height: 435px;    }
	.imageShortB { width: 290px; height: 193px;    }
	.imageShortC { width: 290px; height: 193px;    }
	.floorplan { width: 290px; height: 315px;       }
	
	.amenities {text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; color: #023F00; margin: 0px 0px 5px 0px; padding: 0px 0px 0px 0px;}
	.listAmenities { padding-left: 15px;  padding-top: 10px; }
	.listAmenities li {	font-weight: bold; list-style-type: circle; padding: 0 0 0 0px; margin: 2px 0 0 0px;}
	
	form  {	font-family: Georgia, "Times New Roman", Times, serif; padding-left: 20px; width: 95%;    }
	label { font-size: 16px; margin: 5px;}
	select { border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 272px; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   }
	textarea {	border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 250px; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	 }
	#name { border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 250px; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	  }
	#email {  border-color: #371903; border-style: solid; border-width: 2px; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 250px; line-height: 20px; padding: 5px 10px; margin-bottom: 2px;   	}
	#about {  }
	#question { }
	button {width: 275px; font-size: 14px; background-color: #845E14;  color: white; -moz-border-radius: 10px; -webkit-border-radius: 10px; }	
	#appsubmit { width: 260px; margin: 10px 0 0 0px;   }
	button:hover { background-color: #023F00;  color: white;    }
	
	.thankyou { text-align: center; text-indent: 0em; font-weight: bolder; font-family: 'Courgette', cursive; color: #023F00; margin: 0px 0px 5px 0px; padding: 0px 0px 0px 0px; }
	.thankyoularge.thankyou { }

	.homeButton a { text-decoration: none; }
	.homeButton h3 { color: #180F73;  }
	.homeButton h3:hover { color: #47A4A6;  }
	.homeButton .phone { color: #180F73;  }
	.homeButton .phone:hover { color: #180F73;  }
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/