/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================

    #Clearing */


/* Base screens
================================================== */
	.container                                  { position: relative; width: 90%; margin: 0 auto; padding: 0; background-color: white; }
	.container .column,
	.container .columns                         { float: left; display: inline; margin-left: 0.25%; margin-right: 0.25%; }
    .row                                        { margin-bottom: 20px; }

    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    .container .one.column,
    .container .one.columns                     { width: 4.253191%;  }
    .container .two.columns                     { width: 10.6382979%; }
    .container .three.columns                   { width: 17.0212766%; }
    .container .four.columns                    { width: 23.4042553%; }
    .container .five.columns                    { width: 29.7872340%; }
    .container .six.columns                     { width: 36.1702128%; }
    .container .seven.columns                   { width: 42.5531915%; }
    .container .eight.columns                   { width: 48.9361702%; }
    .container .nine.columns                    { width: 55.3191489%; }
    .container .ten.columns                     { width: 61.7021277%; }
    .container .eleven.columns                  { width: 68.0851064%; }
    .container .twelve.columns                  { width: 74.4680851%; }
    .container .thirteen.columns                { width: 80.8510638%; }
    .container .fourteen.columns                { width: 87.2340426%; }
    .container .fifteen.columns                 { width: 93.6170213%; }
    .container .sixteen.columns                 { width: 100.0000000%; }

    .container .one-third.column                { width: 31.6666667%; }
    .container .two-thirds.column               { width: 63.3333333%; }

    .container .offset-by-one                   { padding-left: 6.25%;  }
    .container .offset-by-two                   { padding-left: 12.50%; }
    .container .offset-by-three                 { padding-left: 18.75%; }
    .container .offset-by-four                  { padding-left: 25.00%; }
    .container .offset-by-five                  { padding-left: 31.25%; }
    .container .offset-by-six                   { padding-left: 37.50%; }
    .container .offset-by-seven                 { padding-left: 43.75%; }
    .container .offset-by-eight                 { padding-left: 50.00%; }
    .container .offset-by-nine                  { padding-left: 56.25%; }
    .container .offset-by-ten                   { padding-left: 62.50%; }
    .container .offset-by-eleven                { padding-left: 68.75%; }
    .container .offset-by-twelve                { padding-left: 75.00%; }
    .container .offset-by-thirteen              { padding-left: 81.25%; }
    .container .offset-by-fourteen              { padding-left: 87.50%; }
    .container .offset-by-fifteen               { padding-left: 93.75%; }


/* Between 793px and 959px
================================================== */
    @media only screen and (min-width: 793px) and (max-width: 959px) {
		body	{}
		.container                                  { width: 768px; }
		.container .column,
		.container .columns                         { float: left; display: block; margin-left: 2.5%; margin-right: 2.5%; }

		.container .one.column,
		.container .one.columns,
		.container .two.columns,
		.container .three.columns,
		.container .four.columns,
		.container .five.columns,
		.container .six.columns,
		.container .seven.columns,
		.container .eight.columns,
		.container .nine.columns,
		.container .ten.columns,
		.container .eleven.columns,
		.container .twelve.columns,
		.container .thirteen.columns,
		.container .fourteen.columns,
		.container .fifteen.columns					{ width: 45%; }
		.container .sixteen.columns					{ width: 90%; }
		.container .one-third.column,
		.container .two-thirds.column				{ width: 45%; }
	}

/* Between 625px and 792px
================================================== */
    @media only screen and (min-width: 625px) and (max-width: 792px) {
		body	{}
		.container                                  { width: 625px; }
		.container .column,
		.container .columns                         { float: left; display: inline; margin-left: 2.5%; margin-right: 2.5%; }

		.container .one.column,
		.container .one.columns,
		.container .two.columns,
		.container .three.columns,
		.container .four.columns,
		.container .five.columns,
		.container .six.columns               { width: 45%; }
		.container .seven.columns,
		.container .eight.columns,
		.container .nine.columns,
		.container .ten.columns,
		.container .eleven.columns,
		.container .twelve.columns,
		.container .thirteen.columns,
		.container .fourteen.columns,
		.container .fifteen.columns,
		.container .sixteen.columns               { width: 90%; }
		.container .one-third.column,
		.container .two-thirds.column               { width: 45%; }
}


/* Smartphones Under Between 481px and 624px
================================================== */
    @media only screen and (min-width: 481px) and (max-width: 624px) {
		body	{}
		.container                                  { width: 480px;}
		.container .column,
		.container .columns                         { float: left; display: inline; margin-left: 2.5%; margin-right: 2.55%; }

		.container .one.column,
		.container .one.columns,
		.container .two.columns,
		.container .three.columns,
		.container .four.columns,
		.container .five.columns,
		.container .six.columns,
		.container .seven.columns,
		.container .eight.columns,
		.container .nine.columns,
		.container .ten.columns,
		.container .eleven.columns,
		.container .twelve.columns,
		.container .thirteen.columns,
		.container .fourteen.columns,
		.container .fifteen.columns,
		.container .sixteen.columns,
		.container .one-third.column,
		.container .two-thirds.column               { width: 95%; }
}


/* Smartphones Under 480px
================================================== */
	@media only screen and (max-width: 480px) {
		body	{}
		.container                                  { width: 320px;}
		.container .column,
		.container .columns                         { float: left; display: inline; margin-left: 2.5%; margin-right: 2.5%; }
		
		.container .one.column,
		.container .one.columns,
		.container .two.columns,
		.container .three.columns,
		.container .four.columns,
		.container .five.columns,
		.container .six.columns,
		.container .seven.columns,
		.container .eight.columns,
		.container .nine.columns,
		.container .ten.columns,
		.container .eleven.columns,
		.container .twelve.columns,
		.container .thirteen.columns,
		.container .fourteen.columns,
		.container .fifteen.columns,
		.container .sixteen.columns,
		.container .one-third.column,
		.container .two-thirds.column               { width: 95%; }
}

/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }